@model FysEtt.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layouts/DefaultLayout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ReturnUrl)
    <div class="field">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="field">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    
    <div>
        <button type="submit">Logga in</button>
    </div>
}
